@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
  font-family: "Reitam";
  src: url(/src/assets/fonts/reitam.regular.otf);
}

html {
  font-family: "Poppins", sans-serif;
  background-image: url(/public/Ti-Liv-hero.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

p,
li {
  color: black;
}

h1,
h2 {
  font-family: "Reitam";
  color: black;
}

.dividercontainer {
  background-color: #111419;
}

.contentcontainer {
  background-image: url(/public/Ti-Liv-bg.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}